@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;font-family:"微软雅黑";font-size: 0.75rem;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;}
.clear{clear:both;}
input{outline: 0;}
body{background:#fff;position: relative;min-height: 30rem;}
img{display: inline-block;}
.shade{width:100%;height:100%;background:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;
			z-index:2;display:none;padding-top: ;}
.wrap{width:100%;min-width:320px;margin:0px auto 0px;    padding-bottom: 6.25rem;padding-top: 2.8125rem;}
.return_img{width: 0.75rem;height: 1.28125rem;position: absolute;top: 0.75rem;left: 1.09375rem;}
.head{color: #fff;text-align: center;width: 100%;height:2.8125rem ;line-height: 2.8125rem;font-size:0.9375rem;background: #220B35;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.grey_space{background: #eaeaea;height:0.40625rem;}
/**/
.search_box_wrap{position: relative;width: 14.40625rem;height: 1.59375rem;margin-left: 2.0625rem;padding-top: 0.71875rem;}
.search_box{width: 13.15625rem;height: 1.59375rem;border-radius:20px;background: #9b91a4;
border: none;padding: 0 0.625rem;font-size: 0.875rem;color: #fff;}
.search_box_img{width: 1.1875rem;height: 1.0625rem; position: absolute; top: 1rem;right: 0.71875rem;}
.search_box_bigwrap{position: absolute;top: 0;left: 0;}
.save{color: #fff;background: #d50074;width: 18.75rem;
border-radius: 0.3125rem;letter-spacing: 0.4375rem;text-indent:  0.4375rem;
text-align: center;height: 2.0625rem;line-height: 2.0625rem;margin: 0 auto;margin-top: 4.375rem;}


.touxiang{width: 12.5rem;height: 12.5rem;margin: 0 auto;border-radius: 300px;overflow: hidden;border: 0.125rem solid #ccc;margin-top: 1.875rem;}
.touxiang_img{width: 12.5rem;height: 12.5rem;}


