@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;font-family:"微软雅黑";}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;}
.clear{clear:both;}
body{background:#fff;}
img{display: inline-block;}
.shade{width:100%;height:100%;background:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;
			z-index:2;display:none;}
.wrap{width:100%;max-width:640px;min-width:320px;margin:0px auto 0px;padding-bottom: 6.25rem;padding-top: 2.8125rem ;}
.return_img{width: 0.75rem;height: 1.28125rem;position: absolute;top: 0.75rem;left: 1.09375rem;}
.head{color: #fff;text-align: center;width: 100%;height:2.8125rem ;line-height: 2.8125rem;font-size:0.9375rem;background: #220B35;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.up_wrap{width: 100%;height: 7.8125rem;position: relative;}
.up_information_wrap{width: 100%; top: 100%;position: absolute;top: 1.8125rem;}
.up_bg{width: 100%;height: 7.8125rem;top: 0px;left: 0px;}

.touxiang{width: 4rem;height: 4rem;margin-left: 2.25rem;float: left;}
.touxiang img{width: 4rem;height: 4rem;}
.login_regi{font-size: 0.75rem;color: #fff;margin-top: 0.125rem;float: left;margin-left: 1.4375rem;}
.login_regi a{color: #fff;}
.color_zi{color: #d50074;font-weight: 800;}
.yue{margin-top: 0.8125rem;}
.my_ul li{border-bottom: 0.0625rem solid #e8e8e8;position: relative;color: #5a5a5a;font-size: 0.75rem;padding-left: 1.21875rem;height: 3.09375rem;line-height: 3.09375rem;}
.turn{width: 0.5rem;height: 0.8125rem;position: absolute;
top:1.125rem;right: 0.9375rem;}
.chongzhi{width: 1.125rem;height: 1.125rem;    position: relative;
    top: 0.25rem;margin-right: 0.625rem;}










