@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;font-family:"微软雅黑";}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;}
.clear{clear:both;}
input{outline: 0;}
body{background:#fff;position: relative;}
img{display: inline-block;}
.shade{width:100%;height:100%;background:rgba(0,0,0,0.6);position:fixed;top:0px;left:0px;
			z-index:2;display:none;}
.wrap{width:100%;max-width:640px;min-width:320px;margin:0px auto 0px;    padding-bottom: 6.25rem;padding-top: 2.8125rem;}
.head{width: 100%;height:2.8125rem ;background: #220B35;  position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;}
.top_left{position: absolute;width: 5.5625rem;top: 0px;left: 0px;}
.top_right{position: absolute;height: 0.46875rem;bottom: 0px;right: 0px;}
.head_left{position: absolute;width: 1.1875rem;height: 1.0625rem;left: 0.813rem;top: 0.96875rem; }
.head_center{  width: 4.4375rem;
    height: 1.21875rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    margin-top: 0.8125rem;}
    .dianhua{position: absolute;right:0.9375rem ;top: 0.75rem;width: 1.5rem;height: 1.40625rem;}
/**/
.search_box_wrap{position: relative;width: 14.40625rem;height: 1.59375rem;margin-left: 2.0625rem;padding-top: 0.71875rem;}
.search_box{width: 13.15625rem;height: 1.59375rem;border-radius:20px;background: #9b91a4;
border: none;padding: 0 0.625rem;font-size: 0.875rem;color: #fff;}
.search_box_img{width: 1.1875rem;height: 1.0625rem; position: absolute; top: 1rem;right: 0.71875rem;}
.search_box_bigwrap{position: absolute;top: 0;left: 0;}


/*购物车开始*/
.shop_list li{position: relative;height: 7.1875rem;border-bottom: 0.0625rem solid #bfbfbf;}
.duihao{position: absolute;left: 0.625rem;top: 2.84375rem;width: 1.125rem;height: 1.125rem;}
.chanping_wrap{margin-top: 0.65625rem;margin-left: 2.46875em;float: left;}
.chanping{width: 4.1875rem;height: 4.1875
rem;border: 1px solid #e7e7e7;}

.shop_list_title{height: 1.90625rem; overflow: hidden; text-overflow:ellipsis;float: left;font-size: 0.6875rem;color: #000;padding-top: 0.65625rem;width: 12.6875rem;margin-left: 0.4375rem;}
.my_price{width: 9rem;font-size: 1rem;color: #ec44a8;position: absolute; right: 4rem;bottom:0.625rem ;text-align: right;}
.my_price_little{font-size: 0.625rem;}
.my_price_fu{font-size: 0.75rem;}
.guige{color: #8c8c8c;float: left;padding-top: 0.09375rem;margin-left: 0.4375rem;font-size: 0.5625rem;width: 12rem;
    	overflow: hidden;/*注意不要写在最后了*/     
white-space: nowrap;     
-o-text-overflow: ellipsis;     
text-overflow: ellipsis;font-size: 0.75rem;}

.yunfei_little{font-size: 0.4375rem;}
.number{position: absolute;top: 5.3125rem;left:2.5rem;height: 1.4375rem;font-size: 0px;}
.reduce{    color: #d4007e;
    font-size: 1.125rem;
    width: 1.1875rem;
    height: 1.1875rem;
    display: block;
    float: left;
    border: 0.0625rem solid #d4d4d4;
    text-align: center;
    line-height: 1.1875rem;}
.item_number{width: 1.1875rem;
    height: 1.1875rem;
    text-align: center;
    font-size: 0.78125rem;
    border: 0.0625rem solid #d9d9d9;
    box-shadow: none;
    float: left;
    border-right: none;
    border-left: none;
    }
.del{position: absolute;right: 0.96875rem;bottom: 0.75rem;width: 0.96875rem;height: 1.03125rem;}
.del_img{width: 0.96875rem;height: 1.03125rem;}
/*结算*/
.checkout{width: 100%;height: 2.78125rem;border-top: 1px solid #bfbfbf;position: fixed;bottom: 2.40625rem;left: 0;background: #fff;}
.checkout_duihao{width: 1.125rem;height: 1.125rem;margin-left: 0.84375rem;margin-top: 0.78125rem;float: left;margin-right: 0.65625rem;}
.checkout_duihao_img{width: 1.125rem;height: 1.125rem;}
.total_price{margin-top: 0.75rem;font-size: 0.9375rem;color: #ff5400;font-weight: 800;}
.total_price_title{color: #000;font-weight: 800;font-size: 0.9375rem;}
.total_price_fu{font-size: 0.625rem;}
.total_price_little{font-size: 0.625rem;}
.item_price{font-size: 0.5625rem;float: left;width: 10.875rem;
			    	overflow: hidden;/*注意不要写在最后了*/     
white-space: nowrap;     
-o-text-overflow: ellipsis;     
text-overflow: ellipsis;
}
.checkout_button{float: right;width: 6.125rem;height: 2.875rem;line-height: 2.875rem;background: #94009f;text-align: center;font-size: 0.8125rem;}
.checkout_button a{color: #fff; display: block;}
/*foot*/
.foot{width:100%;position:fixed;bottom:0px;left:0px;max-width:640px;min-width:320px;
		margin-left:auto;margin-right:auto;margin:auto;background:#220b35;
		left:0px;right:0px;height: 2.40625rem;}
.foot_ul{padding-top: 0.1875rem;font-size: 0px;}
.foot_li{float:left;width: 25%;}
.foot_left{margin-left: 3.375rem;}
.foot_a{width:100%;display:block;}
.foot_img{}
.shop_carNumber{width:14px;height:14px;background:red;color:#fff;
				padding:1%;text-align:center;
				position:absolute;top:-10%;left:69%;border-radius:4px;font-size:8px;}
.foot_img img{width:1.09375rem;height:1.09375rem;margin:auto;display:block;}
p.foot_title_p{width:100%;display:block;color:#fff;text-align:center;font-size:0.53125rem;    margin-top: 0.125rem;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}